/* navingation styles */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 30px;
}

.primary-nav{
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.primary-nav li a{
 color: grey;
 font-size: 1.5rem;
 font-weight: 800;
 text-decoration: none;
}

.primary-nav > li a:hover{
  color: hsl(35, 77%, 62%);
}


@media (max-width: 375px){
  .primary-nav{
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    gap: 0rem;
    background-color: whitesmoke;  
    padding-block: 5rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url(../img/icon-menu-close.svg);
  }

  .primary-nav[ data-visible = "true" ]{
    transform: translateX(0%);
  }

  .primary-nav li{
    margin-block: 1rem;
  }

  .mobile-nav-toggle{
    position: absolute;
    background: url(../img/icon-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;

  }

}



.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
 

/* main style */

main{
  display: flex;
  flex-direction: column;

}

main img{
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.main-content h1{
  max-inline-size: 12ch;
  line-height: 1.2;
  margin-block: 1rem;
  font-weight: bolder;
  
}

.main-content p{
  font-size: 1.2rem;
  color: grey
}

main button{
  color: hsl(36, 100%, 99%);
  height: 50px;
  width: 200px;
  background-color: hsl(5, 85%, 63%);
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  cursor: pointer;
  border: 2px solid hsl(240, 100%, 5%);
  padding-inline: 20px;
  margin-block: 1.4rem;
}

main button:hover{
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  transition: background-color 0.5ms ease-in-out 0.2ms, color 0.5ms ease-in-out 0.2ms;
}

/* style for aside section */

aside{
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  background-color: hsl(240, 100%, 5%);
  margin-block: 1.5rem;
}

aside h1{
  color: hsl(35, 77%, 62%);
  font-size: 2.5rem;
  font-weight: bolder;
  margin-block-start: 20px;
}

.news-text{
  margin-block: 30px;
}

.news-text h2 a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.news-text p{
  color: grey;
  font-size: 0.8rem;
}

/* styles for news-pane session */
.news-pane{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-block{
  display: flex;
  gap: 0.5rem;
}

.img-container img{
  inline-size: 6ch;
  block-size: auto;
  object-fit: cover;
}

.news-content-container{
  max-inline-size: 25ch;
}

.news-content-container h1{
  color: grey;
  font-size: 1rem;
}

.news-content-container h2{
  font-size: 0.8rem;
  margin-block-end: 5px;
}

.news-content-container p{
  font-size: 0.8rem;
  color: grey;
}



@media screen and (min-width: 375px){
 
  .main-content{
    display: flex;
    margin-block-start: 30px;
  
  }

  .action-section{  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline-start: 3rem;
    max-inline-size: 80ch;
  }
  
  .main-content p{
    font-size: 1rem;
  }

  .main-content h1{
    font-size: 3rem;
    min-inline-size: 8ch;
    font-weight:900;
    margin-block: 0px;
  }
  
  .main-content button{
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    height: 50px;
    width: 200px;
    margin-top: 20px;
  }

  aside{
    display: flex;
    flex-direction: column;
    background-color: #00001a;
    max-inline-size: 30ch;
    max-block-size: 100%;
    margin-block: 0px;
  }

  aside h1{
   font-size: 2rem;
  }

  .news-text h2 a{
    font-size: 1rem;
  }

  .news-text p{
    font-size: 0.8rem;
  }

  .news-pane{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-block-start: 7rem;

  }
  .news-block{
    display: flex;
    gap: 1rem;
  }

  .img-container img{
    inline-size: 7ch;
    block-size: 100%;
  }

  .news-content-container{
    max-inline-size: 19ch;
  }

  .news-content-container h1{
    font-size: 1.5rem;
  }
  
  .news-content-container h2{
    font-size: 1rem;
    margin-block-end: 5px;
  }
  
  .news-content-container p{
    font-size: 0.8rem;
  }
  
}

.attribution { font-size: 11px; text-align: center; height:20vh; margin-top: 30px; display: grid; place-items: center;}
.attribution a { color: hsl(228, 45%, 44%); }